{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9
  },
  "parser": "babel-eslint",
  "globals": {
    "React": true
  },
  "rules": {
    "react/jsx-no-undef": [true, { "allowGlobals": true }],
    "react/display-name": 0
  }
}
